django          - pip install django
rest Framework  - pip install djangorestframework
image           - pip install pillow
simple jwt      - pip install djangorestfrmework-simplejwt
cors headers    - pip install django-cors-headers

